/* .directory {
    height: 1091px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0% auto;
    display: flex;
    justify-content: center;
}

.item {
    width: 650px;
    height: 1091px;
    background: #fff;
    margin: 10% auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 6px #dedede;
    background-size: cover;
} */


/* .item{
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
} */
/* .item ::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0.3);
    z-index: 1;
    height: 100%;
    width: 100%;
} */

/* a{
    background: #fff;
    position: absolute;
    z-index: 2;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(200%, -50%); */
    /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); */
    /* font-size: 2rem;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 10px;
    border: 1px solid #000; 
} */

.main-page {
    padding: 100px;
}
.directory {
    display: flex;
}

.container {
    width: 100%;
    position: relative;
    
    /* max-width: 600px; */
}

.mosaic {
    display: grid;
    width: 650px;
    height: 1091px;
}
.mosaic__item:first-of-type {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: 650px;
    height: 1091px;
}
.mosaic__item:last-of-type {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    width: 315px;
    height: 417px;
            
}
.mosaic__item2:last-of-type {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    width: 315px;
    height: 417px;         
}
.mr-10px{
    margin-right: 10px;
}
.mt-10{
    margin-top:10%;
}

.sale-woman,
.text-woman,
.sale-men,
.text-mens   {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
span.sale {
    color: #E01A1A;
    text-align: end;
}

.text-mens {
    position: absolute;
    top: 62%;
    display: flex;
    justify-content: flex-end;
}

.sale-men {
    position: absolute;
    top: 89%;
    display: flex;
    width: 510px;
}

.sale-woman {
    position: absolute;
    top: 80%;
    display: flex;
    margin-left: 43px;
}
.text-woman {
    position: absolute;
    top: 56%;
}



/* @media (min-width: 1320px) {
    .sale-men {
        position: absolute;
        top: 87%;
        }
    } */

@media (max-width: 1260px) {
    .sale-woman {
        /* position: absolute;
        left: 50%; */
        top: 82%;
    }
    .text-woman {
        position: absolute;
        top: 57%;
        }
    /* .sale-men {
        position: absolute;
        top: 89%;
        } */
    }
    

@media (max-width: 1024px) {
    .sale-woman{
        top: 83%;
    }
    .text-woman {
        top: 58%;
    }
    /* .sale-men {
        position: absolute;
        top: 94%;
    } */
}
    
@media (max-width: 768px) {
    .main-page {
        padding: 0;
    }
    .directory {
        flex-direction: column;
        padding: 100px;
    }
    .text-woman,
    .sale-woman,
    .text-mens,
    .sale-men {
        display: none;
    }
    .mosaic-bottom {
        width: 650px; 
        
    }
}

@media (max-width: 380px) {
    .mosaic__item2:last-of-type {
        width: 220px;           
    }
}
/* @media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
} */


.container-bottom {
    width: 100%;
    /* max-width: 600px; */
}
.mosaic-bottom {
    display: grid;
    width: 982px;
    height: 378px; 
    
}
.mosaic__item-bottom:first-of-type {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.mosaic__item-bottom:last-of-type {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
              
}