.checkout {
    display: flex;
    height: 100%;
}

.checkout-views {
    flex: 2;
    padding: 4em;
    background-color: #F5F7F6;
}

.view-button {
    float: right;
    border: 0;
    padding: 1em 5em;
    background-color: #595959;
    color: white;
}

.checkout-cart-info {
    flex: 1;
    padding: 2em;
    height: auto;
}

.logo1 {
    width: 66px;
    margin: 0 auto;
}

.tab-links {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 3em auto 5em auto;
    width: 50%;
}

.tab-links .text-links {
    color: #c4c4c4;
}

.tab-links .tab-link-active {
    color: #303030;
}

.tab-links > * {
    margin: 0 1em;
}

.cart-items {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #aaaaaa;
}

.cart-items li {
    display: flex;
    padding: .5em;
}

.cart-items li h3 {
    margin-top: 0;
    text-transform: uppercase;
}

.cart-item-image {
    margin-right: 1em;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}


.checkout-totals {
    border-bottom: 1px solid #aaaaaa;
}

.checkout-totals > div {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-totals > div div:first-child {
    font-weight: bold;
}

.checkout-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    font-weight: bold;
}
img.img {
    height: 13px;
}