.header {
    /* height: 65px;
    box-shadow: 0 2px 4pc 0 rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4pc 0 rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}
/* .wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;
} */
.ml-20{
    margin-left: 20px;
}
.mr-20{
    margin-right: 20px;
}
.mr-10{
    margin-right: 10%;
}

.left-items,
.right-items {
    display: flex;
    font-size: 14px;
    font-style: normal;
    color: #000;
}
.left-item li {
     margin-right: 10px;
}
/* .logo {
    width: 66px;
    height: 21px;
} */

.logo {
    width: 15%;
    height: 27px;
    margin: 0 20%;
}

ul,li{
    margin: 0;
    padding: 0;
    display: flex;
}
li {
    list-style-type: none;
    margin-right: 10px;
}
/* a{
    font-size: 18px;
    line-height: 1;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
} */

/* a:active {
    background: #E01A1A;
  } */

  .cart {
      position: relative;
    }
    
    .cart > span {
        display: flex;
      position: absolute;
      top: -10px;
      left: -10px;
      height: 15px;
      width: 15px;
      background-color: rgb(58, 58, 58);
      border-radius: 10px;
      color: white;
  }

  .cart > span span {
      margin: auto;
      font-size: 10px;
  }

  a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #000;
}

  @media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}

@media (min-width: 768px) {
    .logo-desktop {
        display: none;
        width: 66px;
        height: 21px;
        margin: 3% 0;
    }
       
  }