.header {
    height: 65px;
    box-shadow: 0 2px 4pc 0 rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;
} */
.ml-20{
    margin-left: 20px;
}
.mr-20{
    margin-right: 20px;
}

.left-items,
.right-items {
    display: flex;
    font-size: 14px;
    font-style: normal;
    color: #000;
}
.left-item li {
     margin-right: 10px;
}
.logo {
    width: 66px;
    height: 21px;
}

ul,li{
    margin: 0;
    padding: 0;
    display: flex;
}
li {
    list-style-type: none;
    margin-right: 10px;
}
/* a{
    font-size: 18px;
    line-height: 1;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
} */

li:active {
    background: #E01A1A;
  }

  .cart {
      position: relative;
    }
    
    .cart > span {
        display: flex;
      position: absolute;
      top: -10px;
      left: -10px;
      height: 15px;
      width: 15px;
      background-color: rgb(58, 58, 58);
      border-radius: 10px;
      color: white;
  }

  .cart > span span {
      margin: auto;
      font-size: 10px;
  }